= form_for @search, :html => {:id => "bar-search"}, remote:true do |f|
  .form-group
    .label
      Choose a category!
      = f.select :venue_category, options_for_select(Search::CATEGORY_OPTIONS, f.object.venue_category), include_blank: "--- SELECT ---"
  .form-group
    .label
      And a subcategory!
      = f.select :venue_subcategory, options_for_select(Search::SUBCATEGORY_OPTIONS, f.object.venue_subcategory), include_blank: "--- SELECT ---"
  .checkboxgroup
    .checkbox
      .label
        = f.check_box :dancing, id: 'dancebox'
        Want to dance?
    .checkbox
      .label
        = f.check_box :allows_under_21, id: '21box'
        Under 21?
    .checkbox
      .label
        = f.check_box :food, id: 'foodbox'
        Want food too?
    .checkbox
      .label
        = f.check_box :has_specials, id: 'specialbox'
        Looking for specials?
    .checkbox
      .label
        = f.check_box :groups, id: 'groupbox'
        Going out in a group?
  .field
    .label
      Finally, a price range:
      = f.select :price_range, options_for_select(Venue::PRICE_OPTIONS, f.object.price_range), include_blank: "--- Select ---", class: "form-control", id: 'price-select'
  .actions
    = f.submit "Submit", class: "btn btn-primary custom-button red-btn wow fadeInLeft animated", id: 'submit-searches-button'

