%section#barsearchresults.our-team
  .container
  .section-header
    %h2.dark-text BARS
    %h6
      Pick where you want to start and where you want to end up. Hit 'Show My Path' and be on your way!
  .row.wow.fadeInRight.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "3s", "data-wow-offset" => "40"}
    - @results.each do |r|
      = div_for r do
        .col-lg-3.col-sm-3
          .team-member
            %figure.profile-pic
              %img{:alt => "", :src => r.photo }
            .member-details
              %h5.dark-text.red-border-bottom
                = r.venue_name
              .position
                = r.address
            .social-icons
              %ul.list-inline
                %li
                  .label
                    %input.checkbox.startbox.startcheck{:type => "checkbox", :'data-address' => r.address, :'data-match-class' => "r_#{r.id}", :class => "r_#{r.id}"}
                      .span.checklist
                        Start
                %li
                  .label
                    %input.checkbox.endbox.endcheck{:type => "checkbox", :'data-address' => r.address, :'data-match-class' => "r_#{r.id}", :class => "r_#{r.id}"}
                      .span.checklist
                        End
                %li
                  .label
                    %input.checkbox.deletebox.deletecheck{:type => "checkbox", :'data-address' => r.address, :'data-match-class' => "r_#{r.id}", :class => "r_#{r.id}"}
                    .span.checklist
                      Remove       
            .details
              - r.specials.each do |s|
                %p
                  = s.description
  
  .container
    %h3.white-text.wow.fadeInLeft.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
    %button.route.btn.btn-primary.custom-button.green-btn
      Show my path!
.row
  .col-lg-6.col-sm-6
    .package.wow.fadeInLeft.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}
      #map-canvas
  .col-lg-6.col-sm-6
    #directions-panel.wow.fadeInLeft.animated{"data-wow-delay" => "0.15s", "data-wow-duration" => "1.5s", "data-wow-offset" => "30"}

:javascript
  var map;
  var directionsDisplay;
  var directionsService;
  var service;

  // set current location, directions display, map display, current position, marker
  function initialize(location)
  {
    console.log(location);

    directionsDisplay = new google.maps.DirectionsRenderer();

    var currentLocation = new google.maps.LatLng(location.coords.latitude, location.coords.longitude);

    var mapOptions = {
      center: currentLocation,
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

  // display map
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    directionsDisplay.setMap(map);
    directionsDisplay.setPanel(document.getElementById('directions-panel'));

    var marker = new google.maps.Marker({
      position: currentLocation,
      map: map
    });
    
  }
  // end initialize

  function calculateRoute() {

    var directionsService = new google.maps.DirectionsService();
    var start = $(".start").data("address");
    console.log(start)

    var end = $(".end").data("address");
    // var end = document.getElementById('venue_address').value;

    var waypoints = [];


    // var venueArray = document.getElementById('venue_address').value;
    // console.log(venueArray)
    // for (var i = 0; i < venueArray.length; i++) {
    //   waypoints.push({
    //     location:venueArray[i].value,
    //     stopover:true});
    //   }

  // finds each address and pushes it to waypoints
    $('.startbox').each(function() {
      console.log(this)
      waypoints.push({
        location:$(this).data("address"),
        stopover:true});
      });

    console.log(waypoints)

    var request = {
      origin: start,
      destination: end,
      waypoints: waypoints,
      optimizeWaypoints: true,
      travelMode: google.maps.TravelMode.DRIVING
    };
    // end var request
    // var directionsDisplay = new google.maps.DirectionsRenderer();
  // renders directions in the panel
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        }
    });
  }

   
  $(document).ready(function()
  {

    navigator.geolocation.getCurrentPosition(initialize);
    
    $(document).on("click", ".route", function(event) {
      console.log("what");
      event.preventDefault();
      // initialize();
      calculateRoute();
    });

    $(document).on("click", ".startbox", function() {
      console.log($(this).data("address"))
      $(this).toggleClass("startbox").toggleClass("start")
      $(".startbox").each(function() {
        $(this).attr("disabled", true)
      });
    });

    $(document).on("click", ".endbox", function() {
      console.log($(this).data("address"))
      $(this).toggleClass("endbox").toggleClass("end")
      match_class = $(this).data("match-class")
      $(".startcheck." + match_class).toggleClass("startbox")
      $(".endbox").each(function() {
        $(this).attr("disabled", true)
      })
    });

    $(document).on("click", ".deletebox", function() {
      match_class = $(this).data("match-class")
      $(".startcheck." + match_class).toggleClass("startbox")
      });
    navigator.geolocation.getCurrentPosition(initialize);

  });



    




